@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

p, a {
    margin-left: 10px;
    margin-top: 5px;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #526DCF;
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #5AB5BF;
    color: white;
    padding: 20px;
    font-size: 2em;
    align-items: center;
}
header * {
    margin: 10px;
}

#mainArea {
    display: flex;
    flex-direction: column;
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

#gameCanvas {
    border: 1px black solid;
    border-radius: 5px;
    align-self: center;
}
#gameCanvas:hover {
    cursor: pointer;
}

.Section {
    border: 1px solid #bbb;
    border-radius: 20px;
    padding: 20px;
    margin: 40px;
    flex: 1;
    box-shadow: 0px 0px 10px 5px #bbb;
}
.DirDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer {
    background-color: #011126;
    color: white;
    padding: 50px;
}
.Indication {
    font-size: 30px;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
    margin-right: 10px;
    box-shadow: 0 0 5px 2px #bbb;
}